body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.container {
    background-color: #020617;
    padding: 30px;
    width: 300px;

    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);

    text-align: center;
}

h1 {
    margin-bottom: 25px;
}

button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;

    font-size: 18px;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.ligar {
    background-color: #22c55e;
    color: #000;
}

.desligar {
    background-color: #ef4444;
    color: #fff;
}

button:active {
    transform: scale(0.97);
}
